body {
    background-color: lightskyblue;
}

.box {
    padding: 5px;
    width: 320px;
    height: 360px;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    border: 2px solid grey;
}

#first-row {
    display: flex;
    justify-content: space-between;
}

.memory-box {
    width: 230px;
    height: 268px;
    position: absolute;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: none; 
}

.memory {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    color: black;
}

.screen {
    height: 56px;
    width: 318px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 3px;
    border: 1px solid grey;
}

.screens {
    padding: 5px;
    height: 20px;
    text-align: right;
}
/* grid layout 1 */
.grid-container {
    background-color: black;
    width: 320px;
    height: 300px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 5);
}

.klammer-auf {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: darkgray;
}

.klammer-zu {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: darkgray;
}

.redo {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    color: black;
    font-weight: bold;
}

.AC {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    color: black;
    font-weight: bold;
}


.operatoren, .AC, .redo {
    background-color: darkgray;
}

button {
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: brown;
}

button:active {
    background-color: green;
}

.memory-btn {
    margin: 4px;
    background-color: grey;
    color: white;
    border: 1px solid lightgray;
}

.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .dot {
    background-color: grey;
}

.equals {
    background-color: blue;
}


footer {
    margin-top: 10px;
    text-align: center;
}
