body {
    background-color: lightskyblue;
}

.box {
    padding: 5px;
    width: 320px;
    height: 360px;
    background-color: black;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 10px;
}

#first-row {
    display: flex;
    justify-content: space-between;
}

.memory-box {
    width: 235px;
    height: 280px;
    position: absolute;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: none; 
}

.memory {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    color: black;
}

.screen {
    height: 56px;
    width: 318px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 3px;
    border: 1px solid grey;
}

.screens {
    padding: 5px;
    height: 20px;
    text-align: right;
}

.grid-container {
    background-color: yellow;
    width: 320px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 5);
}



.AC {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
}

.backslash {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgrey;
}

.x {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgrey;
}

.minus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: darkgrey;
}

.plus {
    background-color: darkgrey;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: brown;
}

.memory-btn {
    margin: 4px;
    background-color: grey;
    color: white;
    border: 1px solid lightgray;
}

button:active {
    background-color: green;
}

.zero {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
}
.dot, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
    background-color: grey;
}
.equals {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: blue;
}

footer {
    margin-top: 10px;
    text-align: center;
}
